---
layout: archive
author_profile: true
header:
    overlay_color: "#000"
    overlay_filter: "0.4"
    overlay_image: unsplash-image1.jpg
    cta_label: "Blog"
    cta_url: "/blog/"
    caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Questo non &egrave; un blog serio!"
---

{% include base_path %}

<p style="text-align:justify"> 
Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
