---
layout: archive
author_profile: true
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: unsplash-image.jpg
    cta_label: "Blog"
    cta_url: "/blog.html"
    caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test ..."
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
